<nav>
    <div class="navItem">
        <p><a href="../../index">Hem</a></p>
    </div>
    <div class="navItem">
        <div class="dropbtn">
            <p>Sak 2</p>
        </div>
    </div>
    <div class="navItem">
        <p>Sak 3</p>
    </div>
</nav>